/*------------ FONTS ------------ */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&family=Inter:wght@400;500;700&family=Noto+Serif+JP:wght@200;300;400;700&display=swap");

@font-face {
    font-family: "TerminaTestNormal";
    src: url("./assets/fonts/TerminaTest/TerminaTest-Regular.otf")
        format("opentype");
}

@font-face {
    font-family: "TerminaTestExtraLight";
    src: url("./assets/fonts/TerminaTest/TerminaTest-ExtraLight.otf")
        format("opentype");
}

@font-face {
    font-family: "Noto Serif JP";
    src: url("./fonts/NotoSerifJP.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    font-family: "Noto Serif JP";
    font-feature-settings: "palt";
    letter-spacing: 0.4px;
    font-weight: 400;
    font-size: 19px;
}

/*------- MISC. -------*/
.subtitle {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    letter-spacing: 5px;
}

.divider {
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    margin: 40px 0;
}

.page {
    padding: 0 250px;
}

/*------------ HEADER SECTION ------------ */
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: black;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-left {
    font-size: 18px;
    letter-spacing: 2px;
    opacity: 0.7;
}

.nav-center {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 4px;
}

.header-title {
    font-family: "TerminaTestExtraLight";
    font-size: 30px;
    letter-spacing: 2px;
}

#first-name {
    font-weight: 800;
}

#last-name {
    font-weight: 10;
}

.version {
    font-family: "TerminaTestExtraLight";
    font-size: 15px;
    letter-spacing: 2px;
    opacity: 0.8;
}

.nav-right {
    display: flex;
    gap: 20px;
}

.nav-right a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    opacity: 0.75;
    transition:
        opacity 0.2s ease,
        transform 0.2s ease;
}

.nav-right a:hover {
    opacity: 1;
}

/*------------------ HOME SECTION ------------------ */
.home {
    display: flex;
    flex-direction: column;
}

/*------- HERO SECTION -------*/
.hero {
    display: flex;
    position: relative;
    background: url("./assets/coghome.jpg") center/cover no-repeat;
    height: 70vh;
    justify-content: flex-end;
    align-items: center;
    padding-right: 80px;
    color: #000;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(202, 194, 194, 0.558);
    z-index: 1;
}

.hero-center,
.hero-quote {
    position: relative;
    z-index: 2;
}

.hero-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.hero-name {
    font-family: "TerminaTestExtraLight";
    font-size: 80px;
    letter-spacing: 5px;
}

.hero-first {
    font-weight: 700;
}

.hero-colon {
    margin: 0 6px;
}

.hero-last {
    font-weight: 300;
}

.hero-handle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.hero-handle-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
}

.hero-handle-text {
    font-size: 20px;
    letter-spacing: 2px;
}

.hero-quote {
    font-style: italic;
    position: absolute;
    bottom: 30px;
    right: 80px;
    max-width: 320px;
    text-align: right;
    font-size: 20px;
    color: #000;
}

/*------- ABOUT SECTION -------*/
.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.highlight {
    font-family: "Cormorant Garamond", serif;
    letter-spacing: 2px;
    opacity: 0.6;
}

#last-pp {
    margin-bottom: 50px;
}

.divider-small {
    height: 1px;
    background: rgba(255, 255, 255, 0.735);
    margin: 15px 350px;
}

#p-center {
    text-align: center;
    margin-bottom: 10px;
}

.social-links {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.social-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
}

.social-image {
    width: 40px;
    height: 40px;
    object-fit: contain;
    filter: invert(1);
    transition:
        transform 0.2s ease,
        opacity 0.2s ease;
}
.social-item:hover .social-image {
    transform: scale(1.1);
    opacity: 1;
}

/*------- EXPERIENCE SECTION -------*/
.experience-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 25px;
}
.experience-card {
    padding: 25px 30px;
    border: 1px solid rgba(255, 248, 248, 0.735);
    background: rgba(255, 255, 255, 0.06);

    border-radius: 10px;
    transition:
        transform 0.2s ease,
        border 0.2s ease;
}

.experience-card:hover {
    transform: translateY(-2px);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 12px;
}

.experience-card h2 {
    font-family: "TerminaTestExtraLight";
    letter-spacing: 2px;
    font-size: 25px;
}

.experience-company {
    opacity: 0.7;
    font-size: 17px;
    margin-top: 2px;
}

.experience-data {
    text-align: right;
    opacity: 0.6;
}

.experience-card ul {
    padding-left: 18px;
    line-height: 1.6;
}

.experience-card li {
    margin-bottom: 8px;
}

.experience-card-text {
    opacity: 0.8;
}

/*------- PROJECTS SECTION -------*/
.projects-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
}

.project-card {
    display: flex;
    gap: 25px;
    padding: 25px 30px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    transition:
        transform 0.2s ease,
        border 0.2s ease;
}

.project-card:hover {
    transform: translateY(-3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.project-image {
    flex-shrink: 0;
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.project-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-title {
    font-family: "TerminaTestExtraLight";
    font-size: 25px;
    letter-spacing: 2px;
}

.project-description {
    line-height: 1.5;
    opacity: 0.8;
}

.project-tech {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    gap: 10px;
}

.tech-stack {
    font-size: 13px;
    padding: 4px 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.05);
    opacity: 0.85;
}

.project-links {
    display: flex;
    gap: 12px;
    margin-top: 5px;
}

.project-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
    gap: 8px;
    padding: 6px 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    text-decoration: none;
    transition: 0.2s ease;
}

.project-link img {
    width: 16px;
    height: 16px;
    object-fit: contain;
    filter: invert(1);
}

.project-link:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: translateY(-1px);
}
